# Ignore all dotfiles...
.*
# except for .gitignore
!.gitignore

db/
tmp/
eclipse/
nbproject/
build/
lib/
dist/
logs/
workspace/
precompiled/
test-result/
test-app/modules/
*.pyc
*.swp
*.log
*.py
*.pyc
